.pod {
    width: 100%;
}
.pod pre     {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #681818;
    color: black;
    padding: 1em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.pod code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.pod a {
  color: #681818;
}

.pod a:visited {
  color: #453821;
}

.pod a:hover {
    text-decoration: none;
}

.pod h1      {
  background: transparent;
  color: #681818;
  font-size: large;
}

.pod h1 a { text-decoration: none; }
.pod h2 a { text-decoration: none; }
.pod h3 a { text-decoration: none; }
.pod h4 a { text-decoration: none; }

.pod h2      {
  background: transparent;
  color: #681818;
  font-size: medium;
}

.pod h3      {
  background: transparent;
  color: #681818;
  font-size: medium;
  font-style: italic;
}

.pod h4      {
  background: transparent;
  color: #681818;
  font-size: medium;
  font-weight: normal;
}

.pod img     {
  border: none;
  vertical-align: top;
}

.pod #index {
    padding: 0px;
}

.pod #index li {
  list-style-type: none;
  margin: .3em 0;
}

.pod #index ul  {
    padding-left: 1.5em;
}
