.palette {
    color: #1f1f1f;
    color: #eceadf;
    color: #453821;
    color: #654b24;
    color: #140f06;
    color: #3a3427;
    color: #6e4f1c;
    color: #b83400;
    color: #fbdb93;
    color: #681818;
}

html {
    overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
    font-size: 12px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    padding-top: 10px;
}

a {
    color: #b83400;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main_container {
    position: relative;
    width: 900px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    margin: 0 auto;
}

#footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
	text-align: center;
    background-color: #FFFFFF;
}

.spacer {
    width: 900px;
    height: 80px;
    margin: 0 auto;
}

#search_box {
    text-align: center;
    margin-bottom: 10px;
}

#search_input {
    width: 450px;
    height: 20px;
    line-height: 20px;
    font-size: 1.2em;
    color: #140f06;
}

.results_table {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

.results_table a {
    color: #b83400;
    font-size: 1em;
    text-decoration: none;
}

.results_table th {
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}

.results_table tr {
    cursor: pointer;
}

.results_table td, .results_table th {
    height: 20px;
    padding: 5px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.results_table td.center {
	text-align: center;
}

.cell_contents {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DataTables_sort_wrapper {
    position: relative;
}

.DataTables_sort_wrapper span {
    position: absolute;
    right: 0;
    top: 2px;
}

.css_left {
    float: left;
}

.css_right {
    float: right;
}

.row_overrides {
    font-weight: normal !important;
    background-image: none !important;
}

.odd_rows {
    background-color: #eceadf;
}

.sorting_1 {
    background-image: url('/images/background_black_12.png') !important;
    background-repeat: repeat;
}

.sorting_2 {
    background-image: url('/images/background_black_07.png') !important;
    background-repeat: repeat;
}

.sorting_3 {
    background-image: url('/images/background_black_02.png') !important;
    background-repeat: repeat;
}

.fg-toolbar {
    padding: 8px 10px;
}

.fg-button {
    min-width: 30px;
}

.dataTables_info {
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_paginate .ui-button {
    padding: 0px 5px;
    margin: 0px !important;
}

.paging_full_numbers {
    width: 600px;
    height: 22px;
    line-height: 22px;
}

.dataTables_length {
    float: right;
    text-align: right;
}

.dataTables_filter {
    float: left;
    width: 50%;
}

.page_navigation {
    float: left;
    margin-bottom: 10px;
}

.page_navigation a {
    padding: 3px 5px;
    margin: 2px;
    color: #FFFFFF;
    text-decoration: none;
    float: left;
    font-size: 1em;
    font-weight: bold;
    background-color: #681818;
}

.active_page {
    background-color: #FFFFFF !important;
    color: #681818 !important;
} 

.page_link {
    min-width: 20px;
    text-align: center;
}

.metacpanView {
    display: none;
    position: relative;
}

.loader {
    position: absolute;
    top: 20px;
    float: left;
    width: 100%;
    text-align: center;
}