.palette {
    color: #1f1f1f;
    color: #eceadf;
    color: #453821;
    color: #654b24;
    color: #140f06;
    color: #3a3427;
    color: #6e4f1c;
    color: #b83400;
    color: #fbdb93;
    color: #681818;
}

body {
    font-size: 12px;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: #8d160a;
}

a:visited {
    color: #8d160a;
}

a:hover {
    text-decoration: underline;
}

#main_container {
    position: relative;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#search_container {
    text-align: center;
    margin-bottom: 10px;
}

#search_input {
    width: 450px;
    height: 20px;
    line-height: 20px;
    font-size: 1.2em;
    color: #140f06;
}

#search_results {
    padding: 0px;
    margin: 0px;
}

#results_table th {
    text-align: left;
	font-weight: bold;
	cursor: pointer;
}

#results_table td, #results_table th {
    height: 20px;
    padding: 5px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

#results_table tr.odd {
	background-color: #FFFFFF;
}

#results_table tr.even {
	background-color: #eceadf;
}

#results_table {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

#results_table.display td.center {
	text-align: center;
}

.cell_contents {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DataTables_sort_wrapper {
    position: relative;
}

.DataTables_sort_wrapper span {
    position: absolute;
    right: 0;
    top: 2px;
}

.css_left {
    float: left;
}

.css_right {
    float: right;
}

.fg-toolbar {
    padding: 8px 10px;
}

.fg-button, .first, .previous, .next, .last {
    min-width: 30px;
}

.dataTables_info {
    float: left;
}

.dataTables_paginate {
    float: right;
	text-align: right;
}

.dataTables_paginate .ui-button {
    padding: 0px 5px;
    margin: 0px;
}

.dataTables_paginate .previous {
    margin-right: 8px;
}

.dataTables_paginate .next {
    margin-left: 8px;
}

.paging_full_numbers {
	width: 600px;
	height: 22px;
	line-height: 22px;
}

.dataTables_length {
    float: right;
    text-align: right;
}

.dataTables_filter {
    float: left;
    width: 50%;
}

.module_container {
    float: left;
    width: 900px;
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

a.name {
    color: #6e4f1c;
    font-weight: bold;
    font-size: 1.5em;
}

.version {
    margin-left: 10px;
    font-size: .8em;
    color: #6e4f1c;
}

.info_container {
    float: left;
    position: relative;
    height: 16px;
}

.dist {
    
}

.distvname {
    margin-left: 10px;
    font-size: .8em;
    color: #8d160a;
}

.author {
    margin-left: 10px;
}

.page_navigation {
    float: left;
    margin-bottom: 10px;
}

.page_navigation a {
    padding: 3px 5px;
    margin: 2px;
    color: #FFFFFF;
    text-decoration: none;
    float: left;
    font-size: 1em;
    font-weight: bold;
    background-color: #681818;
}

.active_page {
    background-color: #FFFFFF !important;
    color: #681818 !important;
} 

.page_link {
    min-width: 20px;
    text-align: center;
}